.footer{
  background-color: #262626;
}

.footer_top_wrapper{
  border-bottom: 2px solid #303030 ;
}

.footer_row{
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 52px;
  align-items: center;
}

.footer_row--copyright{
  padding-top: 40px;
  padding-bottom: 49px;
}

.footer_logo{

}

.footer_nav{

}

.footer_socials{

}