.header-nav{
  border-left: $border;
  border-right: $border;
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  height: 60px;
}

.header-nav_categories{
  border-right: $border;
  width: 203px;

}

.header-nav_deals{
  border-right: $border;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-nav_deals_link{
  color: #d9d9d9;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;

  &:not(:last-child){
    margin-right: 35px;
  }
  &:hover{
    color: $green;
    text-decoration: none;
  }
}

.header-nav_select{
  display: flex;

}

.header-nav_select_item{
  &:not(:last-child){
  border-right: $border;
}
}
