.main_navigation{

  background-color: #262626;
  @extend %mixin_card;
}

.navigation_list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation_item{
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #303030;
  cursor: pointer;
  color: #808080;

  &:last-child{
    border: none;
  }

  .icon_svg{
    fill: #4d4d4d;
  }
  &:hover{
      color: $green;
      .icon_svg{
        fill: $green;
      }
  }
}

.navigation_item_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  margin-right: 1px;
  flex-shrink: 0;
}

.navigation_item_title{
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
}

.navigation_item_arrow{
  margin-left: auto;
  padding-right: 20px;
  }
